{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "10"
        }
      }
    ],
    "@babel/preset-react"
  ],
  "env": {
    "production": {
      "plugins": [
        ["transform-react-remove-prop-types", { "removeImport": true }],
        [
          "@babel/plugin-transform-modules-commonjs",
          { "noInterop": true, "loose": true }
        ]
      ]
    }
  }
}
